@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.snippets {
  /* bgimg: Background image */
  background-color: #999;
  background-image: url("./../");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* bgicon: Background icon */
  background-image: url("./../");
  background-position: 20px 10px;
  background-size: auto;
  background-repeat: no-repeat;
  /* abscent: Absolute center position */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* absov: Absolute Overlay */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.5);
  /* ::absicon Pseudo absolute bg icon */
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  background-image: url("./../");
  background-repeat: no-repeat;
  /* wh: Width: 100%, Heigh: 100% */
  width: 100%;
  height: 100%;
  /* trans: Transition */
  transition: all 0.2s ease-in;
  /* transl: Transform Translate  */
  transform: translate(-50%, -50%);
  /* imp: Import CSS / SCSS */
}

/* media: CSS, SCSS media */
/* cssvars: Hint for CSS variables */
:root {
  --textColor: #333;
  --accent: #1050da;
  --index: calc (1vw+1vh);
}

body {
  color: var(--textColor);
}

/* btn: CSS Button class */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  height: 30px;
  border-radius: 12px;
  background: #333333;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button:hover,
.button:focus {
  background-color: #404040;
}

.button:active {
  background-color: #222222;
}

/* Подсказка для заведения шрифтов в переменные

font-family: "Poppins", sans-serif;

*/
/* Подсказка адаптации

•	320px — 480px: Mobile devices

•	481px — 768px: iPads, Tablets

•	769px — 1024px: Small screens, laptops

•	1025px — 1200px: Desktops, large screens

•	1201px and more — Extra large screens, TV
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #ffffff;
  font-size: 16px;
} /*смотрим что он на странице базовый и его указываем в боди */
.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1240px;
}

.container-right {
  padding-left: calc((100% - 1240px) / 2 + 15px);
}

.container-left {
  padding-right: calc((100% - 1240px) / 2 + 15px);
}

a {
  color: #ffffff;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #ffffff;
}

.block {
  height: 200px;
  background-color: blue;
}

.header {
  overflow: hidden;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(154.32deg, rgb(66, 142, 95) -17.197%, rgb(17, 33, 32) 78.196%), rgb(32, 68, 52);
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url("/img/header/header-bottom.svg");
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  -moz-column-gap: 80px;
       column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}
.nav__list a {
  position: relative;
}
.nav__list a.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -5px;
  display: block;
  height: 4px;
  border-radius: 100px;
  background: rgb(196, 196, 196);
}
.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -5px;
  display: block;
  height: 4px;
  border-radius: 100px;
  background: rgb(196, 196, 196);
}

.nav__login {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  align-items: center;
}
.nav__login.nav__login--footer {
  -moz-column-gap: 66px;
       column-gap: 66px;
}
.nav__login.nav__login--footer a {
  color: rgb(15, 31, 28);
  opacity: 0.5;
}

.btn__item-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) 11.462%, rgb(255, 88, 78) 97.358%), rgb(255, 255, 255);
  color: #ffffff;
  z-index: 1000;
}
.btn__item-1::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: linear-gradient(171.6deg, rgb(255, 180, 90) 30%, rgb(255, 30, 20) 95.03%);
  transition: opacity 0.5s ease-in-out;
  z-index: -1000;
}
.btn__item-1:hover::before {
  opacity: 1;
}
.btn__item-1 span:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}
.btn__item-1:active {
  position: relative;
  top: 1px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.logo--footer a {
  color: #ff7c4e;
}

.header__row {
  display: flex;
}

.header__content {
  max-width: 592px;
  position: relative;
  z-index: 1;
}

.header__img {
  position: relative;
  flex-grow: 1;
}
.header__img img {
  position: absolute;
  top: -168px;
  right: -140px;
  max-width: unset;
  width: 898px;
  height: 1123px;
}

.header__badge {
  margin-bottom: 7px;
  padding: 11px 30px;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.25);
}

.header__title {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 30px;
}

.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  opacity: 0.5;
}

.btn__item-2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 27px 48px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) 15.573%, rgb(255, 88, 78) 95.03%);
  color: #ffffff;
  z-index: 1000;
}
.btn__item-2::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 180, 90) 30%, rgb(255, 30, 20) 95.03%);
  transition: opacity 0.5s ease-in-out;
  z-index: -1000;
}
.btn__item-2:hover::before {
  opacity: 1;
}
.btn__item-2 span:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}
.btn__item-2:active {
  position: relative;
  top: 1px;
}

.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}

.destinations__title {
  font-size: 55px;
  font-weight: 600;
  color: rgb(15, 31, 28);
}
.destinations__title span {
  font-size: 30px;
  color: inherit;
}

.destinations__text {
  margin-top: 15px;
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(15, 31, 28);
  opacity: 0.5;
}

.btn__item-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) 14.619%, rgb(255, 88, 78) 95.571%);
  color: #ffffff;
  z-index: 1000;
}
.btn__item-3::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 180, 90) 30%, rgb(255, 30, 20) 95.03%);
  transition: opacity 0.5s ease-in-out;
  z-index: -1000;
}
.btn__item-3:hover::before {
  opacity: 1;
}
.btn__item-3 span:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}
.btn__item-3:active {
  position: relative;
  top: 1px;
}

.destinations__slider {
  max-width: 1110px;
  flex-shrink: 0;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
  transition: all 0.2s ease-in;
}

.slider {
  position: relative;
  height: 456px;
}
.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider__btn {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) -18.787%, rgb(255, 88, 78) 114.48%), rgb(139, 139, 139);
}
.slider__btn--prev {
  left: -27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  padding-left: 26px;
  justify-content: flex-start;
}
.slider__btn--next {
  right: -27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  padding-left: 26px;
  justify-content: flex-start;
}

.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: grid;
  grid-template-columns: 478px 1fr;
  -moz-column-gap: 70px;
       column-gap: 70px;
}

.customers__img img {
  border-radius: 60px;
}

.customers__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 15px;
}

.customers__title {
  font-size: 45px;
  font-weight: 500;
  color: rgb(15, 31, 28);
}

.review__client {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  -moz-column-gap: 33px;
       column-gap: 33px;
}

.review__client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff794e;
}

.review__client-desc-name {
  margin-bottom: 11px;
  font-size: 33px;
  font-weight: 500;
  color: rgb(15, 31, 28);
}

.review__client-desc-country {
  font-size: 25px;
  font-weight: 400;
  color: rgb(15, 31, 28);
  opacity: 0.5;
}

.review__text {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
  color: rgb(15, 31, 28);
  opacity: 0.5;
}

.cta {
  padding: 100px 0;
}

.cta__plate {
  min-height: 580px;
  padding: 40px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background: rgb(255, 255, 255);
}
.cta__plate::before {
  content: "";
  position: absolute;
  top: 74px;
  right: 80px;
  width: 63px;
  height: 83px;
  background-image: url("../../img/cta/cta-el-01.svg");
}
.cta__plate::after {
  content: "";
  position: absolute;
  left: 74px;
  bottom: 56px;
  width: 63px;
  height: 83px;
  transform: rotate(180deg);
  background-image: url("../../img/cta/cta-el-01.svg");
}

.cta__title {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  color: rgb(15, 31, 28);
  margin: 30px;
}

.cta__text {
  font-size: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  opacity: 0.5;
  color: rgb(15, 31, 28);
}

.btn__item-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) 14.619%, rgb(255, 88, 78) 95.571%);
  color: #ffffff;
  z-index: 1000;
  padding: 25px 54px;
}
.btn__item-3::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 180, 90) 30%, rgb(255, 30, 20) 95.03%);
  transition: opacity 0.5s ease-in-out;
  z-index: -1000;
}
.btn__item-3:hover::before {
  opacity: 1;
}
.btn__item-3 span:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}
.btn__item-3:active {
  position: relative;
  top: 1px;
}

.subscribe {
  padding: 35px 0 50px;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__title {
  margin-bottom: 60px;
  max-width: 494px;
  color: rgb(15, 31, 28);
  font-size: 55px;
  font-weight: 600;
}

.subscribe__form {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding: 12px 15px 12px 46px;
  border-radius: 35px;
  background: rgb(255, 255, 255);
}

.subscribe-form__input {
  font-size: 24px;
  font-weight: 500;
  color: rgb(15, 31, 28);
}
.subscribe-form__input::-moz-placeholder {
  color: rgb(15, 31, 28);
  opacity: 0.5;
}
.subscribe-form__input::placeholder {
  color: rgb(15, 31, 28);
  opacity: 0.5;
}

.btn__item-3 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 25px 44px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 123, 78) 14.619%, rgb(255, 88, 78) 95.571%);
  color: #ffffff;
  z-index: 1000;
  padding: 36px 86px;
  font-size: 25px;
  font-weight: 600;
}
.btn__item-3::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 27px;
  background: linear-gradient(171.6deg, rgb(255, 180, 90) 30%, rgb(255, 30, 20) 95.03%);
  transition: opacity 0.5s ease-in-out;
  z-index: -1000;
}
.btn__item-3:hover::before {
  opacity: 1;
}
.btn__item-3 span:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}
.btn__item-3:active {
  position: relative;
  top: 1px;
}

.footer {
  padding: 56px 0 74px;
}
.footer .nav__list--footer a {
  color: rgb(15, 31, 28);
  opacity: 0.5;
}
.footer .nav__list--footer a.active::after {
  display: none;
}
.footer .nav__list--footer a:hover::after {
  display: none;
}/*# sourceMappingURL=main.css.map */