// Контент

.header__row {
    display: flex;
}
.header__content {
    max-width: 592px; // смотрим, что у него максимальная ширина
    position: relative; // чтобы задать z index картинке
    z-index: 1; // поднимаем текст выше картинки
}
.header__img {
    position: relative;
    flex-grow: 1; // мы растягиваем блок, так как у него нет ширины и картинка из него вываливается

    & img {
        position: absolute;
        top: -168px;
        right: -140px;
        max-width: unset;
        width: 898px;
        height: 1123px;
    }
}

.header__badge {
    margin-bottom: 7px;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;

    display: inline-block;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}

.header__title {
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 30px;
}
.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: $color-main;
    opacity: 0.5;
}
.btn__item-2 {
    @include buttonItem-2;
}
