.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo {
}
.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;

    & a {
        position: relative;

        &.active::after {
            @include hoverLink;
        }
        &:hover::after {
            @include hoverLink;
        }
    }
}

// Sign up, Login
.nav__login {
    font-size: 15px;
    font-weight: 500;

    display: flex;
    column-gap: 25px;
    align-items: center;
}

// Login button

.btn__item-1 {
    @include buttonItem-1;
}

// Logo

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
