/* Подсказка для заведения шрифтов в переменные

font-family: "Poppins", sans-serif;

*/

/* Подсказка адаптации

•	320px — 480px: Mobile devices

•	481px — 768px: iPads, Tablets

•	769px — 1024px: Small screens, laptops

•	1025px — 1200px: Desktops, large screens

•	1201px and more — Extra large screens, TV
*/

// Fonts определяем несколько переменных для шрифтов

$font-main: "Poppins", sans-serif; // основной шрифт

// Colors - определяем какие цвета присутствуют на макете - мы переходим в верху слева в Фигме на название фрейма, во вкладке Дизайн смотрим на название и в Инспект копируем хекскод

$theme: #f6f6f6; //цвет темы
$accent: #0f1f1c; //акцентный цвет, каким выполнены все заголовки
$color-main: #ffffff; // создаем для последовательности цветов
$button: linear-gradient(171.6deg, rgb(255, 123, 78) 15.573%, rgb(255, 88, 78) 95.03%); //кнопки
$text: rgba(15, 31, 28, 0.5); // обычный текст

// Container

$container-width: 1240px;
$container-padding: 15px;

// Media
$tablet: 768px; // переменная для точки перелома планшет
$mobile: 480px; // переменная для точки перелома мобилка
